<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>

  <div class="container" id="app">
    <div class="card">
      <h1>План по изучению Vue.js</h1>

      <div class="steps">
        <div class="steps-content"> {{ currentStep }} </div>
        <ul class="steps-list">
          <li
            :class="['steps-item', {'done': activeIndex >= index}, {'active': activeIndex === index}]"
            v-for="(step, index) in steps"
            :key="step.title"
          >
            <button @click="setActive(index)">{{ index + 1 }}</button>
            {{ step.title }}
          </li>
        </ul>
        <div>
          <button class="btn" :disabled="isButtonDisabled" @click="prev">{{ textOfLeftButton }}</button>
          <button v-if="!isStartOverButtonActive" class="btn primary" @click="nextStep">{{ textOfRightButton }}</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
  </body>
</html>
